/* GENERAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #2d6a4f;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HOME */
.home-container {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.home-title {
  color: white;
  font-size: 40px;
}

.home-text {
  color: white;
}

.start-button {
  background: #2ea32e;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* PRODUCTS */
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

/* CART */
.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
